//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 06 08:24:13 2019
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "add1" LOCATE = SITE "P123" LEVEL 1;
COMP "add2" LOCATE = SITE "P27" LEVEL 1;
COMP "clr1" LOCATE = SITE "P131" LEVEL 1;
COMP "clr2" LOCATE = SITE "P32" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
COMP "p1display[10]" LOCATE = SITE "P144" LEVEL 1;
COMP "p1display[11]" LOCATE = SITE "P1" LEVEL 1;
COMP "p1display[12]" LOCATE = SITE "P2" LEVEL 1;
COMP "p1display[13]" LOCATE = SITE "P5" LEVEL 1;
COMP "mul1" LOCATE = SITE "P127" LEVEL 1;
COMP "mul2" LOCATE = SITE "P30" LEVEL 1;
COMP "sub1" LOCATE = SITE "P126" LEVEL 1;
COMP "sub2" LOCATE = SITE "P29" LEVEL 1;
COMP "lane1a[0]" LOCATE = SITE "P80" LEVEL 1;
COMP "lane1a[1]" LOCATE = SITE "P81" LEVEL 1;
COMP "lane1a[2]" LOCATE = SITE "P82" LEVEL 1;
COMP "lane1a[3]" LOCATE = SITE "P83" LEVEL 1;
COMP "lane1a[4]" LOCATE = SITE "P84" LEVEL 1;
COMP "lane1b[0]" LOCATE = SITE "P100" LEVEL 1;
COMP "lane1b[1]" LOCATE = SITE "P101" LEVEL 1;
COMP "lane1b[2]" LOCATE = SITE "P102" LEVEL 1;
COMP "lane1b[3]" LOCATE = SITE "P104" LEVEL 1;
COMP "lane2a[0]" LOCATE = SITE "P85" LEVEL 1;
COMP "lane1b[4]" LOCATE = SITE "P105" LEVEL 1;
COMP "lane2a[1]" LOCATE = SITE "P87" LEVEL 1;
COMP "lane2a[2]" LOCATE = SITE "P88" LEVEL 1;
COMP "lane2a[3]" LOCATE = SITE "P92" LEVEL 1;
COMP "lane2b[0]" LOCATE = SITE "P111" LEVEL 1;
COMP "lane2a[4]" LOCATE = SITE "P93" LEVEL 1;
COMP "lane2b[1]" LOCATE = SITE "P112" LEVEL 1;
COMP "lane2b[2]" LOCATE = SITE "P114" LEVEL 1;
COMP "lane2b[3]" LOCATE = SITE "P115" LEVEL 1;
COMP "lane2b[4]" LOCATE = SITE "P116" LEVEL 1;
COMP "lane3a[0]" LOCATE = SITE "P94" LEVEL 1;
COMP "lane3a[1]" LOCATE = SITE "P95" LEVEL 1;
COMP "lane3a[2]" LOCATE = SITE "P97" LEVEL 1;
COMP "lane3a[3]" LOCATE = SITE "P98" LEVEL 1;
COMP "lane3b[0]" LOCATE = SITE "P117" LEVEL 1;
COMP "lane3a[4]" LOCATE = SITE "P99" LEVEL 1;
COMP "lane3b[1]" LOCATE = SITE "P118" LEVEL 1;
COMP "lane3b[2]" LOCATE = SITE "P119" LEVEL 1;
COMP "lane3b[3]" LOCATE = SITE "P120" LEVEL 1;
COMP "lane3b[4]" LOCATE = SITE "P121" LEVEL 1;
COMP "goaldisplay[0]" LOCATE = SITE "P79" LEVEL 1;
COMP "goaldisplay[1]" LOCATE = SITE "P78" LEVEL 1;
COMP "goaldisplay[2]" LOCATE = SITE "P75" LEVEL 1;
COMP "goaldisplay[3]" LOCATE = SITE "P74" LEVEL 1;
COMP "goaldisplay[4]" LOCATE = SITE "P67" LEVEL 1;
COMP "goaldisplay[5]" LOCATE = SITE "P66" LEVEL 1;
COMP "goaldisplay[6]" LOCATE = SITE "P58" LEVEL 1;
COMP "goaldisplay[7]" LOCATE = SITE "P57" LEVEL 1;
COMP "goaldisplay[8]" LOCATE = SITE "P35" LEVEL 1;
COMP "goaldisplay[9]" LOCATE = SITE "P34" LEVEL 1;
COMP "start" LOCATE = SITE "P124" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "p2display[10]" LOCATE = SITE "P22" LEVEL 1;
COMP "p2display[11]" LOCATE = SITE "P23" LEVEL 1;
COMP "p2display[12]" LOCATE = SITE "P24" LEVEL 1;
COMP "p2display[13]" LOCATE = SITE "P26" LEVEL 1;
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "p1display[0]" LOCATE = SITE "P132" LEVEL 1;
COMP "p1display[1]" LOCATE = SITE "P133" LEVEL 1;
COMP "p1display[2]" LOCATE = SITE "P134" LEVEL 1;
COMP "p1display[3]" LOCATE = SITE "P137" LEVEL 1;
COMP "p1display[4]" LOCATE = SITE "P138" LEVEL 1;
COMP "p1display[5]" LOCATE = SITE "P139" LEVEL 1;
COMP "p1display[6]" LOCATE = SITE "P140" LEVEL 1;
COMP "p1display[7]" LOCATE = SITE "P141" LEVEL 1;
COMP "p1display[8]" LOCATE = SITE "P142" LEVEL 1;
COMP "p1display[9]" LOCATE = SITE "P143" LEVEL 1;
COMP "goaldisplay[10]" LOCATE = SITE "P41" LEVEL 1;
COMP "goaldisplay[11]" LOCATE = SITE "P40" LEVEL 1;
COMP "goaldisplay[12]" LOCATE = SITE "P51" LEVEL 1;
COMP "goaldisplay[13]" LOCATE = SITE "P50" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "p2display[0]" LOCATE = SITE "P7" LEVEL 1;
COMP "p2display[1]" LOCATE = SITE "P8" LEVEL 1;
COMP "p2display[2]" LOCATE = SITE "P9" LEVEL 1;
COMP "p2display[3]" LOCATE = SITE "P10" LEVEL 1;
COMP "p2display[4]" LOCATE = SITE "P11" LEVEL 1;
COMP "p2display[5]" LOCATE = SITE "P14" LEVEL 1;
COMP "p2display[6]" LOCATE = SITE "P15" LEVEL 1;
COMP "p2display[7]" LOCATE = SITE "P16" LEVEL 1;
COMP "p2display[8]" LOCATE = SITE "P17" LEVEL 1;
COMP "p2display[9]" LOCATE = SITE "P21" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
TIMEGRP clk = BEL "clk_BUFGP/BUFG" BEL "edgeMul1/M_last_q" BEL
        "edgeMul2/M_last_q" BEL "reset_cond/M_stage_q_3" BEL
        "reset_cond/M_stage_q_2" BEL "reset_cond/M_stage_q_1" BEL
        "reset_cond/M_stage_q_0" BEL "L_reg/M_r6_q_10" BEL "L_reg/M_r6_q_11"
        BEL "L_reg/M_r6_q_12" BEL "L_reg/M_r6_q_13" BEL "L_reg/M_r6_q_14" BEL
        "L_reg/M_r6_q_15" BEL "L_reg/M_r7_q_10" BEL "L_reg/M_r7_q_11" BEL
        "L_reg/M_r7_q_12" BEL "L_reg/M_r7_q_13" BEL "L_reg/M_r7_q_14" BEL
        "L_reg/M_r7_q_15" BEL "L_reg/M_r4_q_0" BEL "L_reg/M_r8_q_10" BEL
        "L_reg/M_r4_q_1" BEL "L_reg/M_r8_q_11" BEL "L_reg/M_r4_q_2" BEL
        "L_reg/M_r8_q_12" BEL "L_reg/M_r4_q_3" BEL "L_reg/M_r8_q_13" BEL
        "L_reg/M_r4_q_4" BEL "L_reg/M_r8_q_14" BEL "L_reg/M_r4_q_5" BEL
        "L_reg/M_r8_q_15" BEL "L_reg/M_r4_q_6" BEL "L_reg/M_r4_q_7" BEL
        "L_reg/M_r4_q_8" BEL "L_reg/M_r4_q_9" BEL "L_reg/M_r9_q_0" BEL
        "L_reg/M_r9_q_10" BEL "L_reg/M_r9_q_1" BEL "L_reg/M_r9_q_11" BEL
        "L_reg/M_r9_q_2" BEL "L_reg/M_r9_q_12" BEL "L_reg/M_r9_q_3" BEL
        "L_reg/M_r9_q_13" BEL "L_reg/M_r9_q_4" BEL "L_reg/M_r9_q_14" BEL
        "L_reg/M_r9_q_5" BEL "L_reg/M_r9_q_15" BEL "L_reg/M_r9_q_6" BEL
        "L_reg/M_r9_q_7" BEL "L_reg/M_r9_q_8" BEL "L_reg/M_r9_q_9" BEL
        "L_reg/M_r12_q_0" BEL "L_reg/M_r12_q_1" BEL "L_reg/M_r12_q_2" BEL
        "L_reg/M_r12_q_3" BEL "L_reg/M_r12_q_4" BEL "L_reg/M_r12_q_5" BEL
        "L_reg/M_r12_q_6" BEL "L_reg/M_r12_q_7" BEL "L_reg/M_r12_q_8" BEL
        "L_reg/M_r12_q_9" BEL "L_reg/M_r10_q_10" BEL "L_reg/M_r10_q_11" BEL
        "L_reg/M_r10_q_12" BEL "L_reg/M_r10_q_13" BEL "L_reg/M_r10_q_14" BEL
        "L_reg/M_r10_q_15" BEL "L_reg/M_r11_q_10" BEL "L_reg/M_r11_q_11" BEL
        "L_reg/M_r11_q_12" BEL "L_reg/M_r11_q_13" BEL "L_reg/M_r3_q_0" BEL
        "L_reg/M_r11_q_14" BEL "L_reg/M_r3_q_1" BEL "L_reg/M_r11_q_15" BEL
        "L_reg/M_r3_q_2" BEL "L_reg/M_r3_q_3" BEL "L_reg/M_r3_q_4" BEL
        "L_reg/M_r3_q_5" BEL "L_reg/M_r3_q_6" BEL "L_reg/M_r12_q_10" BEL
        "L_reg/M_r12_q_11" BEL "L_reg/M_r12_q_12" BEL "L_reg/M_r12_q_13" BEL
        "L_reg/M_r8_q_0" BEL "L_reg/M_r12_q_14" BEL "L_reg/M_r12_q_15" BEL
        "L_reg/M_r8_q_1" BEL "L_reg/M_r8_q_2" BEL "L_reg/M_r8_q_3" BEL
        "L_reg/M_r8_q_4" BEL "L_reg/M_r8_q_5" BEL "L_reg/M_r8_q_6" BEL
        "L_reg/M_r8_q_7" BEL "L_reg/M_r8_q_8" BEL "L_reg/M_r8_q_9" BEL
        "L_reg/M_r11_q_0" BEL "L_reg/M_r11_q_1" BEL "L_reg/M_r11_q_2" BEL
        "L_reg/M_r11_q_3" BEL "L_reg/M_r11_q_4" BEL "L_reg/M_r11_q_5" BEL
        "L_reg/M_r11_q_6" BEL "L_reg/M_r11_q_7" BEL "L_reg/M_r11_q_8" BEL
        "L_reg/M_r11_q_9" BEL "L_reg/M_r2_q_0" BEL "L_reg/M_r2_q_1" BEL
        "L_reg/M_r2_q_2" BEL "L_reg/M_r2_q_3" BEL "L_reg/M_r2_q_4" BEL
        "L_reg/M_r2_q_5" BEL "L_reg/M_r2_q_6" BEL "L_reg/M_r2_q_7" BEL
        "L_reg/M_r2_q_8" BEL "L_reg/M_r2_q_9" BEL "L_reg/M_r7_q_0" BEL
        "L_reg/M_r7_q_1" BEL "L_reg/M_r7_q_2" BEL "L_reg/M_r7_q_3" BEL
        "L_reg/M_r7_q_4" BEL "L_reg/M_r7_q_5" BEL "L_reg/M_r7_q_6" BEL
        "L_reg/M_r7_q_7" BEL "L_reg/M_r7_q_8" BEL "L_reg/M_r7_q_9" BEL
        "L_reg/M_r10_q_0" BEL "L_reg/M_r10_q_1" BEL "L_reg/M_r10_q_2" BEL
        "L_reg/M_r10_q_3" BEL "L_reg/M_r10_q_4" BEL "L_reg/M_r10_q_5" BEL
        "L_reg/M_r10_q_6" BEL "L_reg/M_r10_q_7" BEL "L_reg/M_r10_q_8" BEL
        "L_reg/M_r10_q_9" BEL "L_reg/M_r1_q_10" BEL "L_reg/M_r1_q_11" BEL
        "L_reg/M_r1_q_12" BEL "L_reg/M_r1_q_13" BEL "L_reg/M_r1_q_14" BEL
        "L_reg/M_r1_q_15" BEL "L_reg/M_r1_q_0" BEL "L_reg/M_r1_q_1" BEL
        "L_reg/M_r1_q_2" BEL "L_reg/M_r1_q_3" BEL "L_reg/M_r1_q_4" BEL
        "L_reg/M_r1_q_5" BEL "L_reg/M_r1_q_6" BEL "L_reg/M_r1_q_7" BEL
        "L_reg/M_r1_q_8" BEL "L_reg/M_r1_q_9" BEL "L_reg/M_r2_q_10" BEL
        "L_reg/M_r2_q_11" BEL "L_reg/M_r2_q_12" BEL "L_reg/M_r2_q_13" BEL
        "L_reg/M_r2_q_14" BEL "L_reg/M_r2_q_15" BEL "L_reg/M_r6_q_0" BEL
        "L_reg/M_r6_q_1" BEL "L_reg/M_r6_q_2" BEL "L_reg/M_r6_q_3" BEL
        "L_reg/M_r6_q_4" BEL "L_reg/M_r6_q_5" BEL "L_reg/M_r6_q_6" BEL
        "L_reg/M_r6_q_7" BEL "L_reg/M_r6_q_8" BEL "L_reg/M_r6_q_9" BEL
        "L_reg/M_x_q_0" BEL "L_reg/M_r4_q_10" BEL "L_reg/M_r4_q_11" BEL
        "L_reg/M_r4_q_12" BEL "L_reg/M_r4_q_13" BEL "L_reg/M_r4_q_14" BEL
        "L_reg/M_r4_q_15" BEL "L_reg/M_r5_q_10" BEL "L_reg/M_r5_q_11" BEL
        "L_reg/M_r5_q_12" BEL "L_reg/M_r5_q_0" BEL "L_reg/M_r5_q_13" BEL
        "L_reg/M_r5_q_1" BEL "L_reg/M_r5_q_14" BEL "L_reg/M_r5_q_2" BEL
        "L_reg/M_r5_q_15" BEL "L_reg/M_r5_q_3" BEL "L_reg/M_r5_q_4" BEL
        "L_reg/M_r5_q_5" BEL "L_reg/M_r5_q_6" BEL "L_reg/M_r5_q_7" BEL
        "L_reg/M_r5_q_8" BEL "L_reg/M_r5_q_9" BEL "ctl1/M_state_q_FSM_FFd14"
        BEL "ctl1/M_state_q_FSM_FFd15" BEL "ctl1/M_state_q_FSM_FFd13" BEL
        "ctl1/M_state_q_FSM_FFd12" BEL "ctl1/M_state_q_FSM_FFd11" BEL
        "ctl1/M_state_q_FSM_FFd10" BEL "ctl1/M_state_q_FSM_FFd9" BEL
        "ctl1/M_state_q_FSM_FFd8" BEL "ctl1/M_state_q_FSM_FFd6" BEL
        "ctl1/M_state_q_FSM_FFd5" BEL "ctl1/M_state_q_FSM_FFd4" BEL
        "ctl1/M_state_q_FSM_FFd3" BEL "ctl1/M_state_q_FSM_FFd2" BEL
        "ctl1/M_state_q_FSM_FFd1" BEL "ctl1/M_state_q_FSM_FFd7" BEL
        "ctl1/M_state_q_FSM_FFd2_1" BEL "ctl1/M_state_q_FSM_FFd4_1" BEL
        "ctl1/M_state_q_FSM_FFd3_1" BEL "ctl1/M_state_q_FSM_FFd3_2" BEL
        "ctl1/M_state_q_FSM_FFd2_2" BEL "ctl1/M_state_q_FSM_FFd2_3" BEL
        "ctl1/M_state_q_FSM_FFd8_1" BEL "ctl1/M_state_q_FSM_FFd4_2" BEL
        "ctl1/M_state_q_FSM_FFd3_3" BEL "ctl1/M_state_q_FSM_FFd2_4" BEL
        "ctl2/M_state_q_FSM_FFd15" BEL "ctl2/M_state_q_FSM_FFd14" BEL
        "ctl2/M_state_q_FSM_FFd13" BEL "ctl2/M_state_q_FSM_FFd12" BEL
        "ctl2/M_state_q_FSM_FFd11" BEL "ctl2/M_state_q_FSM_FFd8" BEL
        "ctl2/M_state_q_FSM_FFd10" BEL "ctl2/M_state_q_FSM_FFd9" BEL
        "ctl2/M_state_q_FSM_FFd6" BEL "ctl2/M_state_q_FSM_FFd5" BEL
        "ctl2/M_state_q_FSM_FFd4" BEL "ctl2/M_state_q_FSM_FFd1" BEL
        "ctl2/M_state_q_FSM_FFd3" BEL "ctl2/M_state_q_FSM_FFd2" BEL
        "ctl2/M_state_q_FSM_FFd7" BEL "ctl2/M_state_q_FSM_FFd2_1" BEL
        "ctl2/M_state_q_FSM_FFd4_1" BEL "ctl2/M_state_q_FSM_FFd3_1" BEL
        "ctl2/M_state_q_FSM_FFd3_2" BEL "ctl2/M_state_q_FSM_FFd2_2" BEL
        "ctl2/M_state_q_FSM_FFd2_3" BEL "ctl2/M_state_q_FSM_FFd8_1" BEL
        "ctl2/M_state_q_FSM_FFd4_2" BEL "ctl2/M_state_q_FSM_FFd5_1" BEL
        "ctl2/M_state_q_FSM_FFd3_3" BEL "ctl2/M_state_q_FSM_FFd11_1" BEL
        "ctl2/M_state_q_FSM_FFd10_1" BEL "ctl2/M_state_q_FSM_FFd2_4" BEL
        "ctl2/M_state_q_FSM_FFd4_3" BEL "edgeClr1/M_last_q" BEL
        "edgeClr2/M_last_q" BEL "edgeSub1/M_last_q" BEL "edgeSub2/M_last_q"
        BEL "edgeAdd1/M_last_q" BEL "edgeAdd2/M_last_q" BEL
        "condMul1/M_ctr_q_0" BEL "condMul1/M_ctr_q_1" BEL "condMul1/M_ctr_q_2"
        BEL "condMul1/M_ctr_q_3" BEL "condMul1/M_ctr_q_4" BEL
        "condMul1/M_ctr_q_5" BEL "condMul1/M_ctr_q_6" BEL "condMul1/M_ctr_q_7"
        BEL "condMul1/M_ctr_q_8" BEL "condMul1/M_ctr_q_9" BEL
        "condMul1/M_ctr_q_10" BEL "condMul1/M_ctr_q_11" BEL
        "condMul1/M_ctr_q_12" BEL "condMul1/M_ctr_q_13" BEL
        "condMul1/M_ctr_q_14" BEL "condMul1/M_ctr_q_15" BEL
        "condMul1/M_ctr_q_16" BEL "condMul1/M_ctr_q_17" BEL
        "condMul1/M_ctr_q_18" BEL "condMul1/M_ctr_q_19" BEL
        "condMul1/sync/M_pipe_q_1" BEL "condMul1/sync/Mshreg_M_pipe_q_1" BEL
        "condMul2/M_ctr_q_0" BEL "condMul2/M_ctr_q_1" BEL "condMul2/M_ctr_q_2"
        BEL "condMul2/M_ctr_q_3" BEL "condMul2/M_ctr_q_4" BEL
        "condMul2/M_ctr_q_5" BEL "condMul2/M_ctr_q_6" BEL "condMul2/M_ctr_q_7"
        BEL "condMul2/M_ctr_q_8" BEL "condMul2/M_ctr_q_9" BEL
        "condMul2/M_ctr_q_10" BEL "condMul2/M_ctr_q_11" BEL
        "condMul2/M_ctr_q_12" BEL "condMul2/M_ctr_q_13" BEL
        "condMul2/M_ctr_q_14" BEL "condMul2/M_ctr_q_15" BEL
        "condMul2/M_ctr_q_16" BEL "condMul2/M_ctr_q_17" BEL
        "condMul2/M_ctr_q_18" BEL "condMul2/M_ctr_q_19" BEL
        "condMul2/sync/M_pipe_q_1" BEL "condMul2/sync/Mshreg_M_pipe_q_1" BEL
        "rng1/rng/M_y_q_31" BEL "rng1/rng/M_y_q_30" BEL "rng1/rng/M_y_q_29"
        BEL "rng1/rng/M_y_q_28" BEL "rng1/rng/M_y_q_27" BEL
        "rng1/rng/M_y_q_26" BEL "rng1/rng/M_y_q_25" BEL "rng1/rng/M_y_q_24"
        BEL "rng1/rng/M_y_q_23" BEL "rng1/rng/M_y_q_22" BEL
        "rng1/rng/M_y_q_21" BEL "rng1/rng/M_y_q_20" BEL "rng1/rng/M_y_q_19"
        BEL "rng1/rng/M_y_q_18" BEL "rng1/rng/M_y_q_17" BEL
        "rng1/rng/M_y_q_16" BEL "rng1/rng/M_y_q_15" BEL "rng1/rng/M_y_q_14"
        BEL "rng1/rng/M_y_q_13" BEL "rng1/rng/M_y_q_12" BEL
        "rng1/rng/M_y_q_11" BEL "rng1/rng/M_y_q_10" BEL "rng1/rng/M_y_q_9" BEL
        "rng1/rng/M_y_q_8" BEL "rng1/rng/M_y_q_7" BEL "rng1/rng/M_y_q_6" BEL
        "rng1/rng/M_y_q_5" BEL "rng1/rng/M_y_q_4" BEL "rng1/rng/M_y_q_3" BEL
        "rng1/rng/M_y_q_2" BEL "rng1/rng/M_y_q_1" BEL "rng1/rng/M_y_q_0" BEL
        "rng1/rng/M_z_q_31" BEL "rng1/rng/M_z_q_30" BEL "rng1/rng/M_z_q_29"
        BEL "rng1/rng/M_z_q_28" BEL "rng1/rng/M_z_q_27" BEL
        "rng1/rng/M_z_q_26" BEL "rng1/rng/M_z_q_25" BEL "rng1/rng/M_z_q_24"
        BEL "rng1/rng/M_z_q_23" BEL "rng1/rng/M_z_q_22" BEL
        "rng1/rng/M_z_q_21" BEL "rng1/rng/M_z_q_20" BEL "rng1/rng/M_z_q_19"
        BEL "rng1/rng/M_z_q_18" BEL "rng1/rng/M_z_q_17" BEL
        "rng1/rng/M_z_q_16" BEL "rng1/rng/M_z_q_15" BEL "rng1/rng/M_z_q_14"
        BEL "rng1/rng/M_z_q_13" BEL "rng1/rng/M_z_q_12" BEL
        "rng1/rng/M_z_q_11" BEL "rng1/rng/M_z_q_10" BEL "rng1/rng/M_z_q_9" BEL
        "rng1/rng/M_z_q_8" BEL "rng1/rng/M_z_q_7" BEL "rng1/rng/M_z_q_6" BEL
        "rng1/rng/M_z_q_5" BEL "rng1/rng/M_z_q_4" BEL "rng1/rng/M_z_q_3" BEL
        "rng1/rng/M_z_q_2" BEL "rng1/rng/M_z_q_1" BEL "rng1/rng/M_z_q_0" BEL
        "rng1/rng/M_w_q_31" BEL "rng1/rng/M_w_q_30" BEL "rng1/rng/M_w_q_29"
        BEL "rng1/rng/M_w_q_28" BEL "rng1/rng/M_w_q_27" BEL
        "rng1/rng/M_w_q_26" BEL "rng1/rng/M_w_q_25" BEL "rng1/rng/M_w_q_24"
        BEL "rng1/rng/M_w_q_23" BEL "rng1/rng/M_w_q_22" BEL
        "rng1/rng/M_w_q_21" BEL "rng1/rng/M_w_q_20" BEL "rng1/rng/M_w_q_19"
        BEL "rng1/rng/M_w_q_18" BEL "rng1/rng/M_w_q_17" BEL
        "rng1/rng/M_w_q_16" BEL "rng1/rng/M_w_q_15" BEL "rng1/rng/M_w_q_14"
        BEL "rng1/rng/M_w_q_13" BEL "rng1/rng/M_w_q_12" BEL
        "rng1/rng/M_w_q_11" BEL "rng1/rng/M_w_q_10" BEL "rng1/rng/M_w_q_9" BEL
        "rng1/rng/M_w_q_8" BEL "rng1/rng/M_w_q_7" BEL "rng1/rng/M_w_q_6" BEL
        "rng1/rng/M_w_q_5" BEL "rng1/rng/M_w_q_4" BEL "rng1/rng/M_w_q_3" BEL
        "rng1/rng/M_w_q_2" BEL "rng1/rng/M_w_q_1" BEL "rng1/rng/M_w_q_0" BEL
        "rng1/rng/M_x_q_31" BEL "rng1/rng/M_x_q_30" BEL "rng1/rng/M_x_q_29"
        BEL "rng1/rng/M_x_q_28" BEL "rng1/rng/M_x_q_27" BEL
        "rng1/rng/M_x_q_26" BEL "rng1/rng/M_x_q_25" BEL "rng1/rng/M_x_q_24"
        BEL "rng1/rng/M_x_q_23" BEL "rng1/rng/M_x_q_22" BEL
        "rng1/rng/M_x_q_21" BEL "rng1/rng/M_x_q_20" BEL "rng1/rng/M_x_q_19"
        BEL "rng1/rng/M_x_q_18" BEL "rng1/rng/M_x_q_17" BEL
        "rng1/rng/M_x_q_16" BEL "rng1/rng/M_x_q_15" BEL "rng1/rng/M_x_q_14"
        BEL "rng1/rng/M_x_q_13" BEL "rng1/rng/M_x_q_12" BEL
        "rng1/rng/M_x_q_11" BEL "rng1/rng/M_x_q_10" BEL "rng1/rng/M_x_q_9" BEL
        "rng1/rng/M_x_q_8" BEL "rng1/rng/M_x_q_7" BEL "rng1/rng/M_x_q_6" BEL
        "rng1/rng/M_x_q_5" BEL "rng1/rng/M_x_q_4" BEL "rng1/rng/M_x_q_3" BEL
        "rng1/rng/M_x_q_2" BEL "rng1/rng/M_x_q_1" BEL "rng1/rng/M_x_q_0" BEL
        "rng2/rng/M_y_q_31" BEL "rng2/rng/M_y_q_30" BEL "rng2/rng/M_y_q_29"
        BEL "rng2/rng/M_y_q_28" BEL "rng2/rng/M_y_q_27" BEL
        "rng2/rng/M_y_q_26" BEL "rng2/rng/M_y_q_25" BEL "rng2/rng/M_y_q_24"
        BEL "rng2/rng/M_y_q_23" BEL "rng2/rng/M_y_q_22" BEL
        "rng2/rng/M_y_q_21" BEL "rng2/rng/M_y_q_20" BEL "rng2/rng/M_y_q_19"
        BEL "rng2/rng/M_y_q_18" BEL "rng2/rng/M_y_q_17" BEL
        "rng2/rng/M_y_q_16" BEL "rng2/rng/M_y_q_15" BEL "rng2/rng/M_y_q_14"
        BEL "rng2/rng/M_y_q_13" BEL "rng2/rng/M_y_q_12" BEL
        "rng2/rng/M_y_q_11" BEL "rng2/rng/M_y_q_10" BEL "rng2/rng/M_y_q_9" BEL
        "rng2/rng/M_y_q_8" BEL "rng2/rng/M_y_q_7" BEL "rng2/rng/M_y_q_6" BEL
        "rng2/rng/M_y_q_5" BEL "rng2/rng/M_y_q_4" BEL "rng2/rng/M_y_q_3" BEL
        "rng2/rng/M_y_q_2" BEL "rng2/rng/M_y_q_1" BEL "rng2/rng/M_y_q_0" BEL
        "rng2/rng/M_z_q_31" BEL "rng2/rng/M_z_q_30" BEL "rng2/rng/M_z_q_29"
        BEL "rng2/rng/M_z_q_28" BEL "rng2/rng/M_z_q_27" BEL
        "rng2/rng/M_z_q_26" BEL "rng2/rng/M_z_q_25" BEL "rng2/rng/M_z_q_24"
        BEL "rng2/rng/M_z_q_23" BEL "rng2/rng/M_z_q_22" BEL
        "rng2/rng/M_z_q_21" BEL "rng2/rng/M_z_q_20" BEL "rng2/rng/M_z_q_19"
        BEL "rng2/rng/M_z_q_18" BEL "rng2/rng/M_z_q_17" BEL
        "rng2/rng/M_z_q_16" BEL "rng2/rng/M_z_q_15" BEL "rng2/rng/M_z_q_14"
        BEL "rng2/rng/M_z_q_13" BEL "rng2/rng/M_z_q_12" BEL
        "rng2/rng/M_z_q_11" BEL "rng2/rng/M_z_q_10" BEL "rng2/rng/M_z_q_9" BEL
        "rng2/rng/M_z_q_8" BEL "rng2/rng/M_z_q_7" BEL "rng2/rng/M_z_q_6" BEL
        "rng2/rng/M_z_q_5" BEL "rng2/rng/M_z_q_4" BEL "rng2/rng/M_z_q_3" BEL
        "rng2/rng/M_z_q_2" BEL "rng2/rng/M_z_q_1" BEL "rng2/rng/M_z_q_0" BEL
        "rng2/rng/M_w_q_31" BEL "rng2/rng/M_w_q_30" BEL "rng2/rng/M_w_q_29"
        BEL "rng2/rng/M_w_q_28" BEL "rng2/rng/M_w_q_27" BEL
        "rng2/rng/M_w_q_26" BEL "rng2/rng/M_w_q_25" BEL "rng2/rng/M_w_q_24"
        BEL "rng2/rng/M_w_q_23" BEL "rng2/rng/M_w_q_22" BEL
        "rng2/rng/M_w_q_21" BEL "rng2/rng/M_w_q_20" BEL "rng2/rng/M_w_q_19"
        BEL "rng2/rng/M_w_q_18" BEL "rng2/rng/M_w_q_17" BEL
        "rng2/rng/M_w_q_16" BEL "rng2/rng/M_w_q_15" BEL "rng2/rng/M_w_q_14"
        BEL "rng2/rng/M_w_q_13" BEL "rng2/rng/M_w_q_12" BEL
        "rng2/rng/M_w_q_11" BEL "rng2/rng/M_w_q_10" BEL "rng2/rng/M_w_q_9" BEL
        "rng2/rng/M_w_q_8" BEL "rng2/rng/M_w_q_7" BEL "rng2/rng/M_w_q_6" BEL
        "rng2/rng/M_w_q_5" BEL "rng2/rng/M_w_q_4" BEL "rng2/rng/M_w_q_3" BEL
        "rng2/rng/M_w_q_2" BEL "rng2/rng/M_w_q_1" BEL "rng2/rng/M_w_q_0" BEL
        "rng2/rng/M_x_q_31" BEL "rng2/rng/M_x_q_30" BEL "rng2/rng/M_x_q_29"
        BEL "rng2/rng/M_x_q_28" BEL "rng2/rng/M_x_q_27" BEL
        "rng2/rng/M_x_q_26" BEL "rng2/rng/M_x_q_25" BEL "rng2/rng/M_x_q_24"
        BEL "rng2/rng/M_x_q_23" BEL "rng2/rng/M_x_q_22" BEL
        "rng2/rng/M_x_q_21" BEL "rng2/rng/M_x_q_20" BEL "rng2/rng/M_x_q_19"
        BEL "rng2/rng/M_x_q_18" BEL "rng2/rng/M_x_q_17" BEL
        "rng2/rng/M_x_q_16" BEL "rng2/rng/M_x_q_15" BEL "rng2/rng/M_x_q_14"
        BEL "rng2/rng/M_x_q_13" BEL "rng2/rng/M_x_q_12" BEL
        "rng2/rng/M_x_q_11" BEL "rng2/rng/M_x_q_10" BEL "rng2/rng/M_x_q_9" BEL
        "rng2/rng/M_x_q_8" BEL "rng2/rng/M_x_q_7" BEL "rng2/rng/M_x_q_6" BEL
        "rng2/rng/M_x_q_5" BEL "rng2/rng/M_x_q_4" BEL "rng2/rng/M_x_q_3" BEL
        "rng2/rng/M_x_q_2" BEL "rng2/rng/M_x_q_1" BEL "rng2/rng/M_x_q_0" BEL
        "condClr1/M_ctr_q_0" BEL "condClr1/M_ctr_q_1" BEL "condClr1/M_ctr_q_2"
        BEL "condClr1/M_ctr_q_3" BEL "condClr1/M_ctr_q_4" BEL
        "condClr1/M_ctr_q_5" BEL "condClr1/M_ctr_q_6" BEL "condClr1/M_ctr_q_7"
        BEL "condClr1/M_ctr_q_8" BEL "condClr1/M_ctr_q_9" BEL
        "condClr1/M_ctr_q_10" BEL "condClr1/M_ctr_q_11" BEL
        "condClr1/M_ctr_q_12" BEL "condClr1/M_ctr_q_13" BEL
        "condClr1/M_ctr_q_14" BEL "condClr1/M_ctr_q_15" BEL
        "condClr1/M_ctr_q_16" BEL "condClr1/M_ctr_q_17" BEL
        "condClr1/M_ctr_q_18" BEL "condClr1/M_ctr_q_19" BEL
        "condClr1/sync/M_pipe_q_1" BEL "condClr1/sync/Mshreg_M_pipe_q_1" BEL
        "condClr2/M_ctr_q_0" BEL "condClr2/M_ctr_q_1" BEL "condClr2/M_ctr_q_2"
        BEL "condClr2/M_ctr_q_3" BEL "condClr2/M_ctr_q_4" BEL
        "condClr2/M_ctr_q_5" BEL "condClr2/M_ctr_q_6" BEL "condClr2/M_ctr_q_7"
        BEL "condClr2/M_ctr_q_8" BEL "condClr2/M_ctr_q_9" BEL
        "condClr2/M_ctr_q_10" BEL "condClr2/M_ctr_q_11" BEL
        "condClr2/M_ctr_q_12" BEL "condClr2/M_ctr_q_13" BEL
        "condClr2/M_ctr_q_14" BEL "condClr2/M_ctr_q_15" BEL
        "condClr2/M_ctr_q_16" BEL "condClr2/M_ctr_q_17" BEL
        "condClr2/M_ctr_q_18" BEL "condClr2/M_ctr_q_19" BEL
        "condClr2/sync/M_pipe_q_1" BEL "condClr2/sync/Mshreg_M_pipe_q_1" BEL
        "condSub1/M_ctr_q_0" BEL "condSub1/M_ctr_q_1" BEL "condSub1/M_ctr_q_2"
        BEL "condSub1/M_ctr_q_3" BEL "condSub1/M_ctr_q_4" BEL
        "condSub1/M_ctr_q_5" BEL "condSub1/M_ctr_q_6" BEL "condSub1/M_ctr_q_7"
        BEL "condSub1/M_ctr_q_8" BEL "condSub1/M_ctr_q_9" BEL
        "condSub1/M_ctr_q_10" BEL "condSub1/M_ctr_q_11" BEL
        "condSub1/M_ctr_q_12" BEL "condSub1/M_ctr_q_13" BEL
        "condSub1/M_ctr_q_14" BEL "condSub1/M_ctr_q_15" BEL
        "condSub1/M_ctr_q_16" BEL "condSub1/M_ctr_q_17" BEL
        "condSub1/M_ctr_q_18" BEL "condSub1/M_ctr_q_19" BEL
        "condSub1/sync/M_pipe_q_1" BEL "condSub1/sync/Mshreg_M_pipe_q_1" BEL
        "condSub2/M_ctr_q_0" BEL "condSub2/M_ctr_q_1" BEL "condSub2/M_ctr_q_2"
        BEL "condSub2/M_ctr_q_3" BEL "condSub2/M_ctr_q_4" BEL
        "condSub2/M_ctr_q_5" BEL "condSub2/M_ctr_q_6" BEL "condSub2/M_ctr_q_7"
        BEL "condSub2/M_ctr_q_8" BEL "condSub2/M_ctr_q_9" BEL
        "condSub2/M_ctr_q_10" BEL "condSub2/M_ctr_q_11" BEL
        "condSub2/M_ctr_q_12" BEL "condSub2/M_ctr_q_13" BEL
        "condSub2/M_ctr_q_14" BEL "condSub2/M_ctr_q_15" BEL
        "condSub2/M_ctr_q_16" BEL "condSub2/M_ctr_q_17" BEL
        "condSub2/M_ctr_q_18" BEL "condSub2/M_ctr_q_19" BEL
        "condSub2/sync/M_pipe_q_1" BEL "condSub2/sync/Mshreg_M_pipe_q_1" BEL
        "condAdd1/M_ctr_q_0" BEL "condAdd1/M_ctr_q_1" BEL "condAdd1/M_ctr_q_2"
        BEL "condAdd1/M_ctr_q_3" BEL "condAdd1/M_ctr_q_4" BEL
        "condAdd1/M_ctr_q_5" BEL "condAdd1/M_ctr_q_6" BEL "condAdd1/M_ctr_q_7"
        BEL "condAdd1/M_ctr_q_8" BEL "condAdd1/M_ctr_q_9" BEL
        "condAdd1/M_ctr_q_10" BEL "condAdd1/M_ctr_q_11" BEL
        "condAdd1/M_ctr_q_12" BEL "condAdd1/M_ctr_q_13" BEL
        "condAdd1/M_ctr_q_14" BEL "condAdd1/M_ctr_q_15" BEL
        "condAdd1/M_ctr_q_16" BEL "condAdd1/M_ctr_q_17" BEL
        "condAdd1/M_ctr_q_18" BEL "condAdd1/M_ctr_q_19" BEL
        "condAdd1/sync/M_pipe_q_1" BEL "condAdd1/sync/Mshreg_M_pipe_q_1" BEL
        "condAdd2/M_ctr_q_0" BEL "condAdd2/M_ctr_q_1" BEL "condAdd2/M_ctr_q_2"
        BEL "condAdd2/M_ctr_q_3" BEL "condAdd2/M_ctr_q_4" BEL
        "condAdd2/M_ctr_q_5" BEL "condAdd2/M_ctr_q_6" BEL "condAdd2/M_ctr_q_7"
        BEL "condAdd2/M_ctr_q_8" BEL "condAdd2/M_ctr_q_9" BEL
        "condAdd2/M_ctr_q_10" BEL "condAdd2/M_ctr_q_11" BEL
        "condAdd2/M_ctr_q_12" BEL "condAdd2/M_ctr_q_13" BEL
        "condAdd2/M_ctr_q_14" BEL "condAdd2/M_ctr_q_15" BEL
        "condAdd2/M_ctr_q_16" BEL "condAdd2/M_ctr_q_17" BEL
        "condAdd2/M_ctr_q_18" BEL "condAdd2/M_ctr_q_19" BEL
        "condAdd2/sync/M_pipe_q_1" BEL "condAdd2/sync/Mshreg_M_pipe_q_1";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

