CONFIG VCCAUX=3.3;

NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;

NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

NET "lane1a<0>" LOC = P74 | IOSTANDARD = LVTTL;
NET "lane1a<1>" LOC = P75 | IOSTANDARD = LVTTL;
NET "lane1a<2>" LOC = P78 | IOSTANDARD = LVTTL;
NET "lane1a<3>" LOC = P79 | IOSTANDARD = LVTTL;
NET "lane1a<4>" LOC = P80 | IOSTANDARD = LVTTL;

NET "lane1b<0>" LOC = P81 | IOSTANDARD = LVTTL;
NET "lane1b<1>" LOC = P82 | IOSTANDARD = LVTTL;
NET "lane1b<2>" LOC = P83 | IOSTANDARD = LVTTL;
NET "lane1b<3>" LOC = P84 | IOSTANDARD = LVTTL;
NET "lane1b<4>" LOC = P85 | IOSTANDARD = LVTTL;

NET "lane2a<0>" LOC = P87 | IOSTANDARD = LVTTL;
NET "lane2a<1>" LOC = P88 | IOSTANDARD = LVTTL;
NET "lane2a<2>" LOC = P92 | IOSTANDARD = LVTTL;
NET "lane2a<3>" LOC = P93 | IOSTANDARD = LVTTL;
NET "lane2a<4>" LOC = P94 | IOSTANDARD = LVTTL;

NET "lane2b<0>" LOC = P95 | IOSTANDARD = LVTTL;
NET "lane2b<1>" LOC = P97 | IOSTANDARD = LVTTL;
NET "lane2b<2>" LOC = P98 | IOSTANDARD = LVTTL;
NET "lane2b<3>" LOC = P99 | IOSTANDARD = LVTTL;
NET "lane2b<4>" LOC = P100 | IOSTANDARD = LVTTL;

NET "lane3a<0>" LOC = P101 | IOSTANDARD = LVTTL;
NET "lane3a<1>" LOC = P102 | IOSTANDARD = LVTTL;
NET "lane3a<2>" LOC = P104 | IOSTANDARD = LVTTL;
NET "lane3a<3>" LOC = P105 | IOSTANDARD = LVTTL;
NET "lane3a<4>" LOC = P111 | IOSTANDARD = LVTTL;

NET "lane3b<0>" LOC = P112 | IOSTANDARD = LVTTL;
NET "lane3b<1>" LOC = P114 | IOSTANDARD = LVTTL;
NET "lane3b<2>" LOC = P115 | IOSTANDARD = LVTTL;
NET "lane3b<3>" LOC = P116 | IOSTANDARD = LVTTL;
NET "lane3b<4>" LOC = P117 | IOSTANDARD = LVTTL;

NET "adda" LOC = P118 | IOSTANDARD = LVTTL | PULLDOWN;
NET "suba" LOC = P119 | IOSTANDARD = LVTTL | PULLDOWN;
NET "mula" LOC = P120 | IOSTANDARD = LVTTL | PULLDOWN;
NET "cleara" LOC = P121 | IOSTANDARD = LVTTL | PULLDOWN;

NET "addb" LOC = P123 | IOSTANDARD = LVTTL | PULLDOWN;
NET "subb" LOC = P124 | IOSTANDARD = LVTTL | PULLDOWN;
NET "mulb" LOC = P126 | IOSTANDARD = LVTTL | PULLDOWN;
NET "clearb" LOC = P127 | IOSTANDARD = LVTTL | PULLDOWN;

NET "p1display<0>" LOC = P1 | IOSTANDARD = LVTTL;
NET "p1display<1>" LOC = P2 | IOSTANDARD = LVTTL;
NET "p1display<2>" LOC = P5 | IOSTANDARD = LVTTL;
NET "p1display<3>" LOC = P6 | IOSTANDARD = LVTTL;
NET "p1display<4>" LOC = P7 | IOSTANDARD = LVTTL;
NET "p1display<5>" LOC = P8 | IOSTANDARD = LVTTL;
NET "p1display<6>" LOC = P9 | IOSTANDARD = LVTTL;
NET "p1display<7>" LOC = P10 | IOSTANDARD = LVTTL;
NET "p1display<8>" LOC = P11 | IOSTANDARD = LVTTL;
NET "p1display<9>" LOC = P12 | IOSTANDARD = LVTTL;
NET "p1display<10>" LOC = P14 | IOSTANDARD = LVTTL;
NET "p1display<11>" LOC = P15 | IOSTANDARD = LVTTL;
NET "p1display<12>" LOC = P16 | IOSTANDARD = LVTTL;
NET "p1display<13>" LOC = P17 | IOSTANDARD = LVTTL;
NET "p1display<14>" LOC = P21 | IOSTANDARD = LVTTL;
NET "p1display<15>" LOC = P22 | IOSTANDARD = LVTTL;

NET "p2display<0>" LOC = P23 | IOSTANDARD = LVTTL;
NET "p2display<1>" LOC = P24 | IOSTANDARD = LVTTL;
NET "p2display<2>" LOC = P26 | IOSTANDARD = LVTTL;
NET "p2display<3>" LOC = P27 | IOSTANDARD = LVTTL;
NET "p2display<4>" LOC = P29 | IOSTANDARD = LVTTL;
NET "p2display<5>" LOC = P30 | IOSTANDARD = LVTTL;
NET "p2display<6>" LOC = P32 | IOSTANDARD = LVTTL;
NET "p2display<7>" LOC = P33 | IOSTANDARD = LVTTL;
NET "p2display<8>" LOC = P34 | IOSTANDARD = LVTTL;
NET "p2display<9>" LOC = P35 | IOSTANDARD = LVTTL;
NET "p2display<10>" LOC = P37 | IOSTANDARD = LVTTL;
NET "p2display<11>" LOC = P39 | IOSTANDARD = LVTTL;
NET "p2display<12>" LOC = P40 | IOSTANDARD = LVTTL;
NET "p2display<13>" LOC = P41 | IOSTANDARD = LVTTL;
NET "p2display<14>" LOC = P43 | IOSTANDARD = LVTTL;
NET "p2display<15>" LOC = P44 | IOSTANDARD = LVTTL;

NET "goaldisplay<0>" LOC = P45 | IOSTANDARD = LVTTL;
NET "goaldisplay<1>" LOC = P46 | IOSTANDARD = LVTTL;
NET "goaldisplay<2>" LOC = P48 | IOSTANDARD = LVTTL;
NET "goaldisplay<3>" LOC = P50 | IOSTANDARD = LVTTL;
NET "goaldisplay<4>" LOC = P51 | IOSTANDARD = LVTTL;
NET "goaldisplay<5>" LOC = P55 | IOSTANDARD = LVTTL;
NET "goaldisplay<6>" LOC = P56 | IOSTANDARD = LVTTL;
NET "goaldisplay<7>" LOC = P57 | IOSTANDARD = LVTTL;
NET "goaldisplay<8>" LOC = P58 | IOSTANDARD = LVTTL;
NET "goaldisplay<9>" LOC = P59 | IOSTANDARD = LVTTL;
NET "goaldisplay<10>" LOC = P61 | IOSTANDARD = LVTTL;
NET "goaldisplay<11>" LOC = P62 | IOSTANDARD = LVTTL;
NET "goaldisplay<12>" LOC = P65 | IOSTANDARD = LVTTL;
NET "goaldisplay<13>" LOC = P66 | IOSTANDARD = LVTTL;
NET "goaldisplay<14>" LOC = P67 | IOSTANDARD = LVTTL;
NET "goaldisplay<15>" LOC = P72 | IOSTANDARD = LVTTL;